{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Khel | Loan</title>
    <link rel="stylesheet" href="{% static 'css/loans.css' %}">
</head>

<body>
    <div class="loansheader">
        <h1>Loans & Releveances</h1>
    </div>
    <div class="loancards">
        <div class="card">
            <div class="tools">
                <div class="circle">
                    <span class="red box"></span>
                </div>
                <div class="circle">
                    <span class="yellow box"></span>
                </div>
                <div class="circle">
                    <span class="green box"></span>
                </div>
            </div>
            <div class="card__content">
                <h2>Phoket : </h2> <br>
                <p>Sports equipment or academy enrollment out of your budget? With Sports Loan from Phocket you can ensure a wholesome development for your children. Buy any sports equipment or enroll for any activity with an easy and hassle-free Sports Loan from Phocket. Phocket provides Sports Loans to salaried professionals ranging from Rs. 5,000 to Rs. 2,00,000 with flexible repayment EMI options. Hassle-free, easy and fully automated, Sports Loans from Phocket are processed the same day for ease. Instant loans from Phocket can be used for multiple purposes other than education like EMIs, Credit Card payments, Travel, fitness and shopping too.</p>
            </div>
        </div>
        <!-- <div class="card">
            <div class="tools">
                <div class="circle">
                    <span class="red box"></span>
                </div>
                <div class="circle">
                    <span class="yellow box"></span>
                </div>
                <div class="circle">
                    <span class="green box"></span>
                </div>
            </div>
            <div class="card__content">

            </div>
        </div> -->
    </div>
</body>

</html>