{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Khel | Schemes</title>
    <link rel="stylesheet" href="{% static 'css/schemes.css' %}">
</head>

<body>
    <div class="schemeshead">
        <h1>Current Government Schemes</h1>
    </div>
    <div class="schemebody">
        <div class="schemecard">
            <div class="card">
                <div class="image"></div>
                <div class="content">
                    <a href="#">
                        <span class="title">
                            National Sports Talent Contest
                        </span>
                    </a>

                    <p class="desc">
                        Sports Authority of India (SAI) selects talent from all parts of India and develops them into
                        competitive athletes.Our trained athletes participate in national and international level
                        events.
                    </p>

                    <a class="action" href="https://spolto.com/blog-details/government-schemes-to-promote-sports">
                        Find out more
                        <span aria-hidden="true">
                            →
                        </span>
                    </a>
                </div>
            </div>
            <div class="card">
                <div class="image1"></div>
                <div class="content">
                    <a href="#">
                        <span class="title">
                            Fit India Moment
                        </span>
                    </a>

                    <p class="desc">
                        FIT INDIA Movement was launched on 29th August, 2019 by Honourable Prime Minister with a view to
                        make fitness an integral part of our daily lives. Mission to make India Fit and Fine.
                    </p>

                    <a class="action" href="https://fitindia.gov.in/">
                        Find out more
                        <span aria-hidden="true">
                            →
                        </span>
                    </a>
                </div>
            </div>
            <div class="card">
                <div class="image"></div>
                <div class="content">
                    <a href="#">
                        <span class="title">
                            Special Area Game Scheme
                        </span>
                    </a>

                    <p class="desc">
                        The Special Area Games Scheme (also known as the Special Area Games Programme; abbreviated to
                        SAG Scheme and SAG Programme or SAGP) is a sports promotion scheme of the Sports Authority of
                        India (SAI).
                    </p>

                    <a class="action" href="https://www.yas.nic.in/sites/default/files/Special%20Area%20Games.pdf">
                        Find out more
                        <span aria-hidden="true">
                            →
                        </span>
                    </a>
                </div>
            </div>
            <div class="card">
                <div class="image1"></div>
                <div class="content">
                    <a href="#">
                        <span class="title">
                            Target Olympic Scheme
                        </span>
                    </a>

                    <p class="desc">
                        Target Olympic Podium Scheme (TOPS) is a flagship program of the Ministry of Youth Affairs and
                        Sports that attempts to assist India's top athletes.Dream to play for India and enlight
                        counrty's name.
                    </p>

                    <a class="action" href="https://sportsauthorityofindia.nic.in/sai/target-olympic-podium">
                        Find out more
                        <span aria-hidden="true">
                            →
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>